- 시작은 hello, world!로

In [1]:
print('hello, world!')

hello, world!

# 파이썬의 자료형
- int(정수) -> 1,2,3..
- float(실수) -> 47.64..
- str(문자열) -> 'hello'
- list(리스트) mutable 한 순서O -> [1, 'hello', 0, 2]
- tuple(튜플) immutable 한 순서O-> (12, 32)
- dict(딕셔너리) key와 value로 구성, 순서X -> {'A': '0123405'}
- set(집합) mutable 한 순서X -> {1,2,3}
- bool(부울) -> T , F
- complex(복소수) -> 6j
- function(함수) -> print()
- NoneType -> NoneType

# 파이썬의 연산자
- ** --> 제곱
- A//B --> A/B의 몫
- A%B --> A/B의 나머지
- == --> 같다
- != --> 다르다
- A=B --> A에 B를 할당
- A:=B --> A에 B를 할당하고, B를 반환

- 숫자 자료형: 모든 연산 가능
- 배열 형태 자료형: 덧셈, 곱셈 가능

In [2]:
'hello'+' world!'

'hello world!'

In [3]:
'hello'*2

'hellohello'

In [4]:
# str타입과 str타입간 연산은 덧셈, 곱셈만 가능
'가나다'-'다'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [5]:
'가나다'*30

'가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다가나다'

In [6]:
123+123

246

In [7]:
# 배열 형태의 자료형은 덧셈, 곱셈 연산만 가능
['1','hello']/123

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [10]:
[1, 'hello']//123

TypeError: unsupported operand type(s) for //: 'list' and 'int'

In [11]:
[1, 'hello']**12

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [12]:
[1, 'hello']*'hello'

TypeError: can't multiply sequence by non-int of type 'str'

In [13]:
[1, 'hello']*(12,23)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [14]:
'hello'>44

TypeError: '>' not supported between instances of 'str' and 'int'

In [15]:
12>44

False

In [16]:
12!=34

True

In [17]:
12!=12

False

In [18]:
12==12

True

In [19]:
12==14

False

In [20]:
6j-34.2

(-34.2+6j)

In [21]:
# 집합 + 실수는 연산 불가
{1,2,3}+(12.34)

TypeError: unsupported operand type(s) for +: 'set' and 'float'

In [23]:
# 집합 - 리스트는 연산 불가
{1,2,3}-[123]

TypeError: unsupported operand type(s) for -: 'set' and 'list'

In [46]:
# 집합 - 문자열은 연산 불가
{1,2,3}+'1'

TypeError: unsupported operand type(s) for +: 'set' and 'str'

In [26]:
# 집합 + 정수는 연산 불가
{1,2,3}+123

TypeError: unsupported operand type(s) for +: 'set' and 'int'

In [25]:
(123)+123

246

In [53]:
'hello'*10

'hellohellohellohellohellohellohellohellohellohello'

# 변수 사용하기
- 변수는 숫자 그 자체가 아님.
- 변수는 할당된 값을 불러오기 위한 주소 개념

In [101]:
a=[1,2,3]

In [102]:
b=a

In [103]:
a[1]=0

In [104]:
a

[1, 0, 3]

In [105]:
b

[1, 0, 3]

In [106]:
a=b.copy()

In [107]:
a

[1, 0, 3]

In [108]:
b

[1, 0, 3]

In [109]:
s=[a,b,c]

In [110]:
d=s

In [111]:
s[1]=0

In [112]:
s

[[1, 0, 3], 0, [1, 2, 3]]

In [113]:
d

[[1, 0, 3], 0, [1, 2, 3]]

In [114]:
s=d.copy()

In [115]:
s

[[1, 0, 3], 0, [1, 2, 3]]

In [116]:
d

[[1, 0, 3], 0, [1, 2, 3]]

In [117]:
s[2]=5

In [118]:
s

[[1, 0, 3], 0, 5]

In [119]:
d

[[1, 0, 3], 0, [1, 2, 3]]

# 파이썬 내장 함수
- join: 두 문자열을 구분자 중심 합침.
- split: 문자열을 구분자 기준으로 나눔.
- strip: 문자열 좌우에 대상 문자열이 있을 경우, 지움.
- lstrip: strip 함수를 왼쪽만 실행.
- rstrip: strip 함수를 오른쪽만 실행.
- replace: 특정 문자 대체

In [138]:
'rabbit and banana'.split(' and ')

['rabbit', 'banana']

In [133]:
'-'.join(['rabbit','banana'])

'rabbit-banana'

In [135]:
'red apple'.replace('red','Red')

'Red apple'

In [136]:
'rabbit and banana'.replace('and', 'AND')

'rabbit AND banana'

In [157]:
'rabbit and banana'.replace('it', '1')

'rabb1 and banana'

In [143]:
'xoxoxoHELLOxoxoxo'.lstrip('xo')

'HELLOxoxoxo'

In [181]:
'x1oxoxoHExoxoxoLLOxoxoxo'.replace('xo','').replace('x1o','')

'HELLO'

In [184]:
'x1oxoxoHExoxoxoLLOxoxoxo'.strip('x1o').replace('xo','')

'HELLO'

In [27]:
# 0과의 나누기는 안됨.
123/0

ZeroDivisionError: division by zero

In [190]:
'123'456'789'

SyntaxError: invalid syntax (782626641.py, line 1)

In [199]:
print(hello, python)

NameError: name 'hello' is not defined

In [200]:
print('hello, python')

hello, python

In [202]:
print('hello, python')

hello, python

# Try-Except 구문

In [208]:
try:
    print(123/0)
    
except:
   print('!inf')

!inf

In [209]:
try:
    print(123/0.5)
    
except:
   print('!inf')

246.0

# 정규 표현식
- \d [0-9] : 십진 숫자
- \D [^0-9] : 비 숫자 문자
- \s [ \t\n\r\f\v] : 공백문자
- \S [^ \t\n\r\f\v] : 비 공백문자
- \w [a-zA-Z0-9_] : 영숫자
- \W [^a-zA-Z0-9_] : 비 영숫자
- [가-힣] : 한글

## re 패키지
- match(): 문자열 시작 부분 일치 판단
- search(): 일치 문자 검색
- findall(): 일치 문자 리스트로 반환
- finditer(): 일치 문자 이터레이터로 반환

In [210]:
import re

In [213]:
re.match('H', 'HELLO123&&*')

In [214]:
re.search('L', 'HELLO123&&*')

In [215]:
re.findall('&', 'HELLO123&&*')

['&', '&']

In [216]:
re.sub('000000','123456','hello~ 000000python')

'hello~ 123456python'

In [219]:
re.sub('456789','123456','hello~ 456789python')

'hello~ 123456python'

In [222]:
re.findall('123','hello~ 123-123python')

['123', '123']

In [240]:
re.findall('\d', 'hello~123-123python')

['1', '2', '3', '1', '2', '3']

In [258]:
str1='hello~ 000000python'

In [262]:
re.sub('\d\d\d\d\d\d', '123456', str1)

'hello~ 123456python'

In [264]:
re.sub('\d\d\d\d\d\d', '456789', str1)

'hello~ 456789python'

In [266]:
str3='hello~ 123-456python'

In [267]:
re.findall('\d\d\d', str3)

['123', '456']

In [270]:
re.sub('\ \d', 'a', str1)

'hello~a00000python'

# 개행문자

In [271]:
print('안녕\n하세요')

안녕
하세요

In [272]:
print('''안녕
하세요''')

안녕
하세요

In [278]:
print('안녕\n하세요\r여러분')

안녕
하세요
여러분

In [280]:
print('파이썬\t이스케이프\t문자\t실습')

파이썬	이스케이프	문자	실습

In [281]:
print('파이썬\n이스케\n이프문\n자실습')

파이썬
이스케
이프문
자실습

In [282]:
print('''파이썬
이스케
이프문
자실습''')

파이썬
이스케
이프문
자실습

In [283]:
txt='파이썬오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n파이썬'

In [285]:
print(txt)

파이썬오늘은	문자열을	배웠고,	그	지식을	이용해서	문자열	수정을	해	봅시다.
파이썬

In [356]:
print('파이썬오늘은\t문자열을\t배웠고,\n\t그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n파이썬')

파이썬오늘은	문자열을	배웠고,
	그	지식을	이용해서	문자열	수정을	해	봅시다.
파이썬

In [381]:
txt3='파이썬\r오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n파\b이\b썬\b'

In [382]:
print(txt3)

파이썬
오늘은	문자열을	배웠고,	그	지식을	이용해서	문자열	수정을	해	봅시다.
파이썬

In [383]:
txt2='파이썬오늘은\t문자열을\t배웠고,\t\n그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n파이썬'

In [384]:
print(txt2.replace('\t', '% ').replace('파이썬',''))

오늘은% 문자열을% 배웠고,%
그% 지식을% 이용해서% 문자열% 수정을% 해% 봅시다.

## 어려웠던 부분 복습

In [385]:
a=[1,2,3]

In [386]:
b=a

In [387]:
a[0]='g'

In [388]:
a

['g', 2, 3]

In [389]:
b

['g', 2, 3]

In [390]:
b=a.copy()

In [391]:
a[0]=100

In [392]:
a

[100, 2, 3]

In [393]:
b

['g', 2, 3]

In [398]:
A=['Z','X','C']

In [399]:
B=A

In [400]:
A[0]='H'

In [401]:
A

['H', 'X', 'C']

In [402]:
B

['H', 'X', 'C']

In [403]:
B=A.copy()

In [407]:
A[0]='G'

In [408]:
A

['G', 'X', 'C']

In [435]:
B

['H', 'X', 'C']

In [416]:
a=[4,5,6]

In [417]:
b=a

In [418]:
a[1]=200

In [419]:
a

[4, 200, 6]

In [420]:
b

[4, 200, 6]

In [421]:
b=a.copy()

In [431]:
a[0]=4

In [432]:
a[1]=300

In [433]:
a

[4, 300, 6]

In [434]:
b

[4, 200, 6]